.container{
    background-color: black;
}
.container1{
    background-color: chocolate;
}
.data1{
    color: aliceblue;
    justify-content: center;
    font-weight: 100;
}
.trendingquizzes{
    color: aqua;
    font-weight: 400;
}